<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
                                                                                           integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@400;600;900&family=Parisienne&display=swap" rel="stylesheet">
<!--<h3><i class="fas fa-book-reader"></i> StoryBooks</h3> -->
<div class="section">
    <h1 class="hii"> Hii 👋 </h1>
    <p class="lead">Create public and private stories from your life</p>
</div>
<div class="divider"></div>

<!-- Added cards by mayank-->
<!-- Added cards by mayank-->

<div class="section">

    <!-- <button type="button" class="btn btn-danger btn-lg">
        <a href="/auth/google" class="text_in_button">
        <i class="fab fa-google left">
        </i> 
        Login With Google
        </a >
        </button> -->
        <a href="/auth/google" >
            <div class="manual_button" id="toggle_on_hover">
                <i class="fab fa-google"></i>
                <div class="text_in_button"> Continue with Google . . . . </div>
            </div>
        </a>

</div>

<style>
.lead {
    font-family: 'Parisienne', cursive;
    font-size: 3.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;

    padding-top: 4rem;
    padding-bottom: 4rem;
    color: #FFC300;
}

    .hii {
        font-family: 'Great Vibes', cursive;
        font-weight: 900;
        /* font-family: 'Parisienne', cursive; */
        margin-top: 8rem;
        margin-bottom: 8rem;
        font-size: 8rem;
        color: #FFC300;
    }

    .section {
        /*
           background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-english-training-class-enrollment-poster-background-material-image_156800.jpg");
         */
    }

    h3 {
        /*
           background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-english-training-class-enrollment-poster-background-material-image_156800.jpg");
         */
        margin: 0px;
        font-size: 4rem;
        font-family: 'Montserrat', sans-serif;
        font-style: bold;
    }

    /*
       .btn {
           padding-left: 180px;
           padding-right: 180px;
           padding-bottom: 50px;
       }
     */

    .manual_button {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 15px;
        padding-top: 15px;
        font-family: 'Montserrat', sans-serif;
        background-color: #FFC300;

        border: 6px solid #900C3F;

        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    .manual_button .fa-google {
        margin-right: 30px;
    }

    .fa-google, .text_in_button {
        font-size: 30px;
        color: #900C3F;
    }
    .fa-google { 
        font-size: 40px;
    }

</style>

<script>
    document.querySelector(".manual_button").addEventListener("mouseover", function(event) {
            event.target.style.backgroundColor = "#900C3F";
            event.target.style.color = "#900C3F";

            event.target.style.border = "3px solid #FFC300";

            document.querySelector(".manual_button .text_in_button").style.color = "#FFC300";
            document.querySelector(".manual_button .fab").style.color = "#FFC300";
        });

        document.querySelector(".manual_button").addEventListener("mouseout", function(event) {
                event.target.style.backgroundColor = "#FFC300";
                event.target.style.color = "#FFC300";

                document.querySelector(".manual_button .text_in_button").style.color = "#900C3F";
                document.querySelector(".manual_button .fab").style.color = "#900C3F";
            });
</script>
